#frmbody {
	padding: 10px;
	background-color: #FFF;
	border: 1px solid #CCC;
}

.frmRow {
	margin-bottom: 10px;
}

.title {
	padding-bottom: 5px;
}

.mceActionPanel {
	padding-top: 5px;
}

td {
	border:1px solid grey;
	padding:5px;
}

.elimina {
	text-decoration: underline;
	font-weight:bold;
	float: right;
}
.elimina:hover {
	color: red;
}

p {
	padding:5px 0;
}

img {
	max-height: 150px;
	max-width: 200px;
}