#frmbody {
	padding: 10px;
	background-color: #FFF;
	border: 1px solid #CCC;
}

.frmRow {
	margin-bottom: 10px;
}

#templatesrc {
	border: none;
	width: 320px;
	height: 240px;
}

.title {
	padding-bottom: 5px;
}

.mceActionPanel {
	padding-top: 5px;
}


#templateOptions table {
    margin-top: 10px;
}

#templateOptions table tbody#conf tr {
    display: block;
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#templateOptions table tbody#conf td {
    display: block;
    width: 100%;
}

#templateOptions table tbody#conf .elimina {
    position: absolute;
    right: 10px;
}

#templateOptions table input {
    margin-bottom: 10px;
    width: 98%;
    max-width: none !important;
}
