#frmbody {
	padding: 10px;
	background-color: #FFF;
	border: 1px solid #CCC;
}

.frmRow {
	margin-bottom: 10px;
}

.title {
	padding-bottom: 5px;
}

.mceActionPanel {
	padding-top: 5px;
}

td {
	border:1px solid grey;
	padding:5px;
}

.elimina {
	color: red;
	font-weight:bold;
}

p {
	padding:5px 0;
}